/* =========== estilos base ============== */
@import 'utilities/variables';
@import 'utilities/mixins';

@import 'vendors/bootstrap/bootstrap';
@import 'vendors/hamburgers';
@import 'vendors/mq/breakpoints';

@import 'base/fonts';
@import 'base/helper';
@import 'base/animations';
@import 'base/spinners';

/* ============ estilos custom ============= */
//@import 'carpeta/archivo'


/* ============ ↓ test, borrar ↓ ============= */
.test h1{
  font-size:30px;

  @include mq($from: tablet, $until: desktop) {
    font-size:40px;
  }

  @include mq($from: tablet, $until: desktopExtraLarge) {
    font-size:50px;
  }

  @include mq($from: desktopExtraLarge) {
    font-size:70px;
  }
}
