header#idb_header{
    float:none!important;
    
    .container{
        width:100%!important;
        max-width:100%!important;

        #logo{
            a{
                display:block;
                height:100%;
                width:auto;

                img{
                    height:calc(100% - 1rem);
                    width:auto!important;
                    margin: 0  1rem!important;
                    top:.5rem;
                }
            }
        }
    }
}

footer#idb_footer{
    width:100%!important;

    .container{
        max-width:100%!important;
    }

    .footer-grey{
        width:100%!important;
    }
}