.text-underline{text-decoration:underline;}

.fw-normal{font-weight:normal!important;}
.fw-100{font-weight:100!important;}
.fw-200{font-weight:200!important;}
.fw-light, .fw-300{font-weight:300!important;}
.fw-book, .fw-400{font-weight:400!important;}
.fw-medium, .fw-500{font-weight:500!important;}
.fw-semibold, .fw-600{font-weight:600!important;}
.fw-bold, .fw-700{font-weight:700!important;}
.fw-800{font-weight:800!important;}
.fw-extrabold, .fw-900{font-weight:900!important;}
