.navbar{
  &.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
          .offcanvas-collapse{
            position: absolute;
            top: $offcanvas-navbar-height; /* Height of navbar */
            bottom: 0;
            left: 100%;
            width: 100%;
            height: calc(100vh - #{$offcanvas-navbar-height});
            padding-right: $offcanvas-padding-right;
            padding-left: $offcanvas-padding-left;
            overflow-y: auto;
            visibility: hidden;
            background-color: $offcanvas-background-color;
            transition: transform .3s ease-in-out, visibility .3s ease-in-out;
          }

          .offcanvas-collapse.open {
            visibility: visible;
            transform: translateX(-100%);
          }
        }

      @include media-breakpoint-up($next) {

      }

    }

    }

    &.fixed-top{
      @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);

        &#{$infix} {
          @include media-breakpoint-down($breakpoint) {
            .offcanvas-collapse{
              position: fixed;
            }
          }
        }
      }
    }
  }
}
