.nav-to-dropdown{
  position: relative;

  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        &.nav-to-dropdown#{$infix} {

          @if $breakpoint != xs {

            .dropdown-toggle{
              @include mq($from:$breakpoint){
                display: none!important;
              }
            }

            .dropdown-menu{
              @include mq($from:$breakpoint){
                display: block!important;
                position: relative!important;
                width: 100%;
                background: inherit;
                border: 0;
                padding: 0;
                transform: none!important;
                float: none!important;
              }
            }
          }

        }

    }
  }

}
