html{
	font-size:16px;
}

:focus-visible{outline:none;}

select{
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:hover{
  -webkit-box-shadow: 0 0 0px 1000px $input-bg inset;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px $input-bg inset, $input-focus-box-shadow;
}