$width-xs: 0; //default, mobile first
$width-sm: 768px;
$width-md: 992px;
$width-lg: 1260px;
$width-xl: 1300px;
$width-xxl: 1820px;

$mq-breakpoints: (
  tablet: $width-sm,
  tabletLandscape: $width-md,
  desktopMini: $width-lg,
  desktop: $width-xl,
  desktopExtraLarge: $width-xxl,
  // short names
  sm: $width-sm,
  md: $width-md,
  lg: $width-lg,
  xl: $width-xl,
  xxl: $width-xxl
);

// If _mq.scss is in your project:
@import 'mq';
