.text-underline{text-decoration:underline;}

.fw-normal{font-weight:normal;}
.fw-100{font-weight:100;}
.fw-200{font-weight:200;}
.fw-light, .fw-300{font-weight:300;}
.fw-book, .fw-400{font-weight:400;}
.fw-medium, .fw-500{font-weight:500;}
.fw-semibold, .fw-600{font-weight:600;}
.fw-bold, .fw-700{font-weight:700;}
.fw-800{font-weight:800;}
.fw-extrabold, .fw-900{font-weight:900;}

// .fs{
//   font-size:var(--fs);
//
//   @include mq($from:md){
//     font-size:var(--fs-md);
//   }
// }
